<div class="form-group">
  <%= f.label(:min_delivery, 'Минимальная сумма заказа')%>
  <%= f.text_field(:min_delivery, class: 'form-control input-sm')%>
</div>
<div class="form-group">
  <%= f.label(:delivery, 'Стоимость доставки')%>
  <%= f.text_field(:delivery, class: 'form-control input-sm')%>
</div>
<div class="form-group">
  <%= f.label(:free_shipping, 'С какой сумма стоимость доставки бесплатна')%>
  <%= f.text_field(:free_shipping, class: 'form-control input-sm')%>
</div>