<div class="col-xs-16 col-md-16 time_table_edit">
	<div class="panel">
		<div class="panel-heading">
			<h4>График работы</h4>
		</div>
		<div class="panel-body">
			<div class="form-group errors" style="line-height: 1;">
			</div>
			<% @schedules = current_organization.timetable.list_schedules%>
			<% @schedules[6] = @schedules.shift %>
			<% @schedules.each_index do |i| %>
			<% day_n = i == 6 ? 0 : i+1 %>
			<div class="form-group" style="margin: 25px 0;" data-day="<%=day_n%>">
				<b><%=I18n.t(:"date.abbr_day_names")[day_n]%>.</b>
				<span>
					<% if @schedules[i] == false %>
					<b style="color:red;">Выходной</b>
					<% elsif @schedules[i] == nil %>
					<b style="color:green;">Круглосуточно</b>
					<% elsif @schedules[i].kind_of?(Array) %>
					<%@schedules[i].each do |sch|%>
					<span class="range" data-id="<%=sch.id%>">
						<input type="text" value="<%=sch.first_time%>" />
						<input type="text" value="<%=sch.second_time%>" />
						<span class="glyphicon glyphicon-refresh"></span>
						<span class="glyphicon glyphicon-remove"></span>
					</span> 
					<% end %>    
					<% end %>
				</span>
				<a style="font-weight:bold;" class="new_range">+</a>
				<span style="font-size:11px;float:right;"><a class="set_holiday">выход.</a> | <a class="set_around">кругл.</a></span>
			</div>
			<% end %>
		</div>
	</div>
</div>