<div class="product thumbnail" data-id="<%=product.id%>">	
	<div data-html="true" class="more" data-placement="left" data-content="<%=description_product(product)%>">
		<div class="post-img-content">	
			<%= image_tag product.avatar.url(:preview) %>
		</div>
		<div class="content">
			<%=product.name%>
			<% if product.weight.present? %>
			<span style="font-size:12px;"><%=product.weight%> г.</span>
			<%end%>
			<div class="description">
			<%=product.description%>
			</div>
		</div>
	</div>	
	<div class="addition">
		<% unless product.addition_id.nil? %>	
		<small class="text-muted product_additions" data-html="true" >+ добавки</small>
		<% end %>
	</div>	
	<div class="order">
		<span class="price"><%=product.price%> руб.</span>		
		<% if product.status == 1 %>
		<button type="button" class="btn btn-success btn-sm add_product">заказать</button>
		<% elsif product.status == 2 %>
		<button type="button" class="btn btn-info btn-sm">недоступен</button>
		<% else %>
		<button type="button" class="btn btn-danger btn-sm">заблокирован</button>
		<% end %>

    <span class="count"><span>1</span> шт.</span>
	</div>
</div>
